<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%-title%></title>
    <link rel="stylesheet" href='/css/login.css' />
  </head>
  <body>
    <% 
    if(typeof errors === 'object' && errors) { 
      errors = JSON.parse(JSON.stringify(errors))
      for(var e = 0 ; e < errors.length;e++ )
      { %>
      <div class="alert <%= errors[e].type ? errors[e].type == 'success' ? 'alert-success' : 'alert-danger' : 'alert-danger' %> alert-dismissible error-glbl"
      style="top:<%= e*36 %>px" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      <%= errors[e]['msg'] %>
      </div>
      <% } } %>
    <div>
      <%- include('../partials/header.ejs') %>
      <main><%- body%></main>
      <%- include('../partials/footer.ejs') %>
    </div>
  </body>
</html>
